html {
  font-size: 16px; /*16px = 12pt = 1em*/
  font-family: "Palatino", serif;
}

h1{
  font-size: 35px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top:-10px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  margin-top:-10px;
  font-weight: bold;
}

p{
  margin-top:-10px;
  letter-spacing: 1px;
  text-align: left;
  position: relative;
  margin-left:2px;
  font-weight: bold;
  line-height:1.5;
}

.contact{
  width: 70%;
  margin: 0% auto;
  padding: 20px 20px 20px 20px;
}

nav{
	margin: 10px 10px 10px 10px;
	text-align: center;
}